fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-openai
langchain-ollama
langchain-huggingface
chromadb
sentence-transformers
pypdf
openai
tiktoken
httpx
requests
numpy